pipelines/schemas/pipeline_wf_m_poc_xml_emp_CORRECT.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"bronze_LH_amos":{"type":"string"},"adventureWorks":{"type":"string"}},"variables":{},"resources":[{"name":"pl_m_poc_xml_emp","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lk_source_tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"fabric_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"07fa017b-dbcc-4cdd-bc70-4811ff6afa54","artifactId":"[parameters('bronze_LH_amos')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"source_tables_emp.csv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"Filter_active","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Filter_active').output.Value","type":"Expression"},"batchCount":3,"activities":[{"name":"Copy_data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"FabricSqlDatabaseSource","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"connectionSettings":{"name":"employees","properties":{"annotations":[],"type":"FabricSqlDatabase","typeProperties":{"workspaceId":"07fa017b-dbcc-4cdd-bc70-4811ff6afa54","artifactId":"[parameters('adventureWorks')]"},"externalReferences":{"connection":"aa15ee1e-aec9-4d9d-848a-426f43e36f6b"}}},"type":"FabricSqlDatabaseTable","schema":[],"typeProperties":{"schema":{"value":"@{item().source_path_name}","type":"Expression"},"table":{"value":"@{item().source_file_name}","type":"Expression"}}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","applyVOrder":true,"datasetSettings":{"annotations":[],"linkedService":{"name":"fabric_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"07fa017b-dbcc-4cdd-bc70-4811ff6afa54","artifactId":"[parameters('bronze_LH_amos')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":{"value":"@{item().target_path_name}","type":"Expression"},"table":{"value":"@{item().target_file_name}","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"Filter_active","type":"Filter","dependsOn":[{"activity":"Lk_source_tables","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lk_source_tables').output.value","type":"Expression"},"condition":{"value":"@equals(item().active, 'TRUE')","type":"Expression"}}}],"lastModifiedByObjectId":"641342e1-65d1-497e-b5f0-ca33b2e880e7","lastPublishTime":"2026-06-19T00:00:00Z"},"dependsOn":[]}]}
